body,p{
    color: black;
}
.tdColorPri {
    color: white;
    background-color: #009999;
}
.btn-outline-tradub {
    color: #009999;
    background-color: transparent;
    background-image: none;
    border-color: #009999;
}
.btn-outline-tradub:hover {
    color: #fff;
    background-color: #009999;
    border-color: #009999;
}
.app-body {
    margin-top: 2em;
}