.commentSection p {
    font-size: small;
    line-height: 15px;
    border-left: 1px solid gray;
    padding-left : 1em;
}
.commentSection ul {
    list-style-type: none;
    padding: 0;
  }
.anonymousBlock {
    text-align: right;
}
.commentSection {
    background-color: lightgoldenrodyellow;
    padding: 1em 2em;
}