.queText {
    font-weight: bolder;
    font-size: 1.5rem;
    color: black;
}
.badge-secondary {
    font-weight: 500;
    background-color: lightgray;
    margin-right:2px;
}
.queOptions {
    margin-top: 1em;
    font-size : 1.2em;
}
.queOptions .queOptionsRight{
    float: right;
}
.queOptions .queOptionsRight .fab {
    margin-right: 2em;
}
h5 {
    color:black;
}