<h1>Hi</h1>
<form action="/api/compile" method="post">
    <input name="fileId"><input name="fileName"><br>
    <input name="fileId"><input name="fileName"><br>
    <input type="submit" value="Submit">
</form>