.centered {
    text-align: center !important;
}
.home-tabs {
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 2em;
    margin: 2em;
    margin-bottom:5em;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
}
.home-tabs:hover{
    box-shadow: 3px 3px grey;
}
.home-tabs .fas {
    font-size:1.75em !important;
    padding-bottom: 0.4em;
    text-decoration: none;
}
.home-tabs h4 {
    text-decoration: none;
}
.jumbotron {
    border-radius: 0 0 .5em .5em !important;
}
#profile-content {
    padding-bottom:5em;
}
.premium-tabs {
    border: 1px solid #007bff;
    border-radius: 0.5em;
    padding: 2em;
    margin: 2em;
    margin-bottom:5em;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
}
.premium-tabs .fas {
    font-size:2em;
    padding:0.5em;
    border: 0.5px solid #007bff;
    border-radius : 0.25em;
    margin-bottom: 1em;
    color : #007bff;
}
.premium-feature ul{
    padding-left: 0;
    list-style: none;
}

.premium-feature ul li{
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.premium-tabs:hover{
    box-shadow: 3px 3px grey;
}
.pay-modes {
    border: 0.5px solid grey;
    transition: all .5s;
    border-radius : 0.25em;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}
.pay-modes img{
    max-width:75%;
    max-height: 25px;
}
.payModesSelect div:hover{
    box-shadow: 2px 2px grey; 
}
.bv-example-row {
    margin-bottom: 5em;
}
#chart-2-container .gapi-analytics-data-chart::after{
    content: "Empty rows are not displayed.";
    font-size: .7em;
}
#copyHelpInput{
    opacity: 0;
}
#link-content .copier {
    font-size: .80em;
    color: darkgrey;
    cursor: pointer;
}