h1, p {
  font-family: Lato;
}

.text-muted {
  color: #888;
}


.userList {
  height: 200px;
  border: 1px solid black;
  overflow: auto;
  padding: 0 0.5em;
}


.User {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.5em 0;
}
.User__name {
  font-weight: bold;
  border-bottom: 1px dashed #bbb;
  cursor: default;
}
.User__name:hover {
  background-color: #eee;
}
.User__fill {
  flex: 1 1;
}


.Popover {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  background-color: #fefefe;
  border: 1px solid black;
  padding: 0.5em;
}
.Popover.open {
  opacity: 1;
  pointer-events: all;
}